In [1]:
import pandas as pd
import pandera as pa

In [2]:
df = pd.read_csv("ocorrencia.csv", parse_dates = ["ocorrencia_dia"], dayfirst=True)
df.head(10)

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0
5,39807,39807,INCIDENTE,SALVADOR,BA,****,2010-01-06,17:53:00,0
6,40215,40215,INCIDENTE,COARI,AM,SBUY,2010-01-07,18:40:00,0
7,39707,39707,INCIDENTE GRAVE,CANUTAMA,AM,****,2010-01-09,12:30:00,3
8,39156,39156,INCIDENTE GRAVE,CASCAVEL,PR,SBCA,2010-01-10,23:15:00,2
9,39711,39711,INCIDENTE GRAVE,PARÁ DE MINAS,MG,****,2010-01-10,20:00:00,0

In [3]:
df.loc[1, "ocorrencia_cidade"]

'BELÉM'

In [4]:
df.loc[1:3]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0

In [5]:
df.loc[10:40]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
10,39789,39789,INCIDENTE,SÃO PEDRO DO SUL,RS,****,2010-01-10,21:30:00,0
11,40069,40069,ACIDENTE,SÃO PAULO,SP,SBMT,2010-01-10,14:50:00,8
12,40414,40414,INCIDENTE,BRASÍLIA,DF,SBBR,2010-01-10,03:00:00,0
13,39507,39507,ACIDENTE,PRIMAVERA DO LESTE,MT,****,2010-01-11,17:00:00,2
14,40107,40107,ACIDENTE,GURUPÁ,PA,SNGU,2010-01-12,14:30:00,0
15,39315,39315,ACIDENTE,CANUTAMA,AM,****,2010-01-15,21:22:00,0
16,39809,39809,INCIDENTE,SÃO PAULO,SP,****,2010-01-15,15:00:00,0
17,39810,39810,INCIDENTE,SALVADOR,BA,****,2010-01-15,18:23:00,0
18,39828,39828,INCIDENTE,SANTOS,SP,****,2010-01-15,17:45:00,0
19,44575,44575,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2010-01-17,12:27:00,0
20,40310,40310,INCIDENTE,CRUZEIRO DO SUL,AC,SBCZ,2010-01-18,19:32:00,0
21,39320,39320,ACIDENTE,FAROL,PR,****,2010-01-19,18:30:00,4
22,39851,39851,INCIDENTE,PASSO FUNDO,RS,SBPF,2010-01-19,03:00:00,0
23,40311,40311,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-19,13:20:00,0
24,41577,41577,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-19,12:16:00,0
25,39772,39772,INCIDENTE,UBERLÂNDIA,MG,****,2010-01-20,18:58:00,0
26,39847,39847,INCIDENTE,SOROCABA,SP,****,2010-01-20,13:10:00,0
27,39768,39768,INCIDENTE,CAMPINAS,SP,****,2010-01-21,20:45:00,0
28,39321,39321,ACIDENTE,PONTES E LACERDA,MT,****,2010-01-23,13:00:00,2
29,39709,39709,INCIDENTE GRAVE,CURITIBA,PR,SBBI,2010-01-23,16:36:00,2
30,39849,39849,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2010-01-23,03:30:00,0
31,39323,39323,ACIDENTE,CASIMIRO DE ABREU,RJ,****,2010-01-24,16:15:00,0
32,39318,39318,ACIDENTE,SENADOR JOSÉ PORFÍRIO,PA,****,2010-01-25,16:20:00,5
33,39848,39848,INCIDENTE,GUARULHOS,SP,SBGR,2010-01-25,17:05:00,0
34,39322,39322,ACIDENTE,SÃO BERNARDO DO CAMPO,SP,****,2010-01-26,13:50:00,2
35,39487,39487,INCIDENTE GRAVE,PALMAS,TO,SBPJ,2010-01-26,16:50:00,0
36,39850,39850,INCIDENTE,BELÉM,PA,SBJC,2010-01-26,14:30:00,0
37,39319,39319,ACIDENTE,IPERÓ,SP,****,2010-01-27,11:25:00,3
38,39627,39627,INCIDENTE,FLORIANÓPOLIS,SC,SBFL,2010-01-27,16:15:00,0
39,40617,40617,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2010-01-27,20:06:00,0
40,39158,39158,INCIDENTE,BELÉM,PA,****,2010-01-28,16:00:00,0

In [6]:
df.loc[[10, 40]]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
10,39789,39789,INCIDENTE,SÃO PEDRO DO SUL,RS,****,2010-01-10,21:30:00,0
40,39158,39158,INCIDENTE,BELÉM,PA,****,2010-01-28,16:00:00,0

In [7]:
df.loc[:, "ocorrencia_cidade"]

0           RIO DE JANEIRO
1                    BELÉM
2           RIO DE JANEIRO
3       LUCAS DO RIO VERDE
4                  PELOTAS
               ...
6088                RECIFE
6089           PORTO VELHO
6090                 BELÉM
6091            DOM AQUINO
6092              CAMPINAS
Name: ocorrencia_cidade, Length: 6093, dtype: object

In [8]:
df.codigo_ocorrencia.is_unique

True

In [9]:
df.ocorrencia_uf.is_unique

False

In [10]:
df.set_index('codigo_ocorrencia', inplace=True)

In [16]:
df.head(1)

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,,2010-01-03,12:00:00,0

In [12]:
df.loc[40324]

codigo_ocorrencia2                        40324
ocorrencia_classificacao              INCIDENTE
ocorrencia_cidade                       PELOTAS
ocorrencia_uf                                RS
ocorrencia_aerodromo                       SBPK
ocorrencia_dia              2010-01-05 00:00:00
ocorrencia_hora                        19:25:00
total_recomendacoes                           0
Name: 40324, dtype: object

In [13]:
df.reset_index(drop=True, inplace=True)

In [15]:
df.loc[0, 'ocorrencia_aerodromo'] = ''